.App {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f8f8fc;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}